/*Primary Colors */
$primary-black: #13182C;
$primary-indigo: #2E66E5;
$primary-white: #FFFFFF;

/* Secondary Colors */
$secondary-slate: #5C667E;
$secondary-cloud: #BDC5D5;

/* Background colors */
$background-graphite: #232940;
$background-light-grey: #F7F8F9;

/* Supporting colors */
$support-green: #158463;
$support-red: #C94515;