@use "../../styles/partials/colors";
@use "../../styles/partials/fonts";
@use "../../styles/partials/mixins";

.main-container {
  @include mixins.maincontainer;
}

.main-heading {
  @include mixins.mainheader;

  &__back-button {
    display: inline-block;
    height: 100%;
    margin: auto 1rem auto 0;
    vertical-align: middle;
  }

  &__edit-icon {
    display: inline-block;
    height: 100%;
    margin: auto 1rem auto 0;
    vertical-align: middle;
  }
}

.item-details {
  margin-top: 1.5rem;
  padding: 0 1.5rem 1.5rem;
  font-size: 0.8rem;
  @include mixins.tablet {
    display: flex;
  }

  &__section {
    @include mixins.tablet {
      flex-grow: 1;
      flex-basis: 50%;
    }

    &--left {
      @include mixins.tablet {
        padding-right: 1rem;
        border-right: 1px solid colors.$secondary-cloud;
      }
    }

    &--right {
      @include mixins.tablet {
        padding-left: 2rem;
      }
    }
  }

  &__group {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    width: 100%;
  }

  &__label {
    margin: 1rem 0 0.25rem 0;
    padding: 0;
    color: colors.$secondary-slate;
    line-height: 1rem;
  }

  &__text {
    margin: 0;
    padding: 0.25rem 0;
  }

  &__pill {
    margin: 0;
    padding: 0.25rem 1rem;
    border-radius: 20px;

    &--red {
      background-color: rgba(201, 69, 21, 0.07);
      color: colors.$support-red;
    }

    &--green {
      background-color: rgba(21, 132, 99, 0.07);
      color: colors.$support-green;
    }
  }
}
